/logs
/build
/data
/devel
/.catkin_tools
topics.txt
*.pdf
.catkin_workspace
*.swp
*.pyc
/.ipynb_checkpoints
**/params/local*
*.gv
melodic-TourGuide.code-workspace
notebook_plots.ipynb
**/desktop.ini
git_login.sh
